*.deb
*.jar
*.log
*.orig
*.sublime-project
*.sublime-workspace
*.tar.gz
*.tgz
*.zip
.ctags
.floo
.flooignore
.tags
.tags_sorted_by_file
vendor
coverage
docker
dump.rdb
exampleData
loaders
submods
.DS_Store
coverage.html
